body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #2C3531;
}

h1 {
    letter-spacing: 2px;
}

#input {
    margin: 5px 0px
}

p {
    background-color: white;
    /* color: #2C3531; */
    color: black;
    width: 310px;
    height: 50px;
    display: inline-block;
    font-size: 28px;
    letter-spacing: 1.1px;
    border-radius: 5px;
    text-align: end;
}

#allkeys {
    position: relative;
    width: max-content;
    display: contents;
}

#display {
    border: solid black 1px;
    margin-bottom: 22px;
}

#log {
    position: absolute;
    margin-left: 10px;
    width: 250px;
    height: 365px;
    text-align: center;
    background-color: #e1f1fd;
    border: solid black 1px;
}

button {
    height: 55px;
    width: 75px;
    margin: 2px 0px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

button:hover {
    border: solid 1px black;
}

button.int {
    background: #D1E8E2;
}

button.operator {
    background-color: #123C69;
    color: white;
}

button#dot {
    font-weight: 900;
}

#result {
    background: #116466;
}

#clear, #backspace {
    height: 55px;
    width: 157px;
    background-color: #AC3B61;
    transition: 0.2s;
    border: solid 2px black;
}

#clear:hover, #backspace:hover {
    color: white;
}

#version {
    background-color: #2C3531;
    font-size: 12px;
    display: inline-block;
    text-align: left;
}